
.btn-primary {
  border: 2px solid #a65cf0;
  border-radius: 10px;
  padding: 17px 35px;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: var(--color-a65cf0);
  transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
}
.btn-primary:focus {
  outline: none;
}
.btn-primary:focus-visible {
  color: var(--color-fff);
  background-color: var(--color-c998fb);
}
@media (any-hover: hover) {
  .btn-primary:hover {
    color: var(--color-fff);
    background-color: var(--color-a65cf0);
  }
}
.btn-primary:active {
  border-color: var(--color-7033ac);
  background-color: var(--color-7033ac);
}

.btn-purple {
  padding: 20px 52px 17px 50px;
  border: 2px solid #a65cf0;
  border-radius: 10px;
  letter-spacing: 1.5px;
  color: var(--color-fff);
  background-color: var(--color-a65cf0);
  transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
}
.btn-purple:focus {
  outline: none;
}
.btn-purple:focus-visible {
  color: var(--color-fff);
  background-color: var(--color-c998fb);
}
@media (any-hover: hover) {
  .btn-purple:hover {
    color: var(--color-fff);
    border-color: var(--color-c998fb);
    background-color: var(--color-c998fb);
  }
}
.btn-purple:active {
  border-color: var(--color-7033ac);
  background-color: var(--color-7033ac);
}
