
.custom-counter {
  margin: 0;
  padding: 0;
  counter-reset: custom-counter;
  list-style-type: none;
}
.custom-counter li {
  position: relative;
  counter-increment: custom-counter;
  padding-left: 26px;
}
.custom-counter li::before {
  content: counter(custom-counter) ". ";
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 180%;
  color: var(--color-ff862f);
}
