
@media (max-width: 1200px) {    //for 1024
  // index
  :root {
    --container-offset: 36px;
  }
  .container {
    padding: 0 var(--container-offset);
    max-width: calc(var(--container-width) + var(--container-offset)* 2);
  }
  .grid {
    grid-template-columns: repeat(9, 1fr);
  }
  .header {
    position: relative;
    padding-top: 57px;
    &__top-content {
      padding: 20px 36px 17px;
    }
    &__top-list {
      gap: 58px;
    }
    &__phone {
      position: absolute;
      top: 18px;
      left: 38px;
    }
    &__nav-list {
      gap: 35px;
    }
    &__btn-group {
      position: absolute;
      top: 66px;
      right: var(--container-offset);
      gap: 25px;
    }
    &__search-row {
      width: 77%;
    }
  }
  .search-btn {
    right: 32px;
  }

  .hero__wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url('../img/hero-1024.jpg');
    &__btn {
      padding: 20px 50px 17px 50px;
    }
  }

  .specials__item:nth-of-type(2) {
    grid-column: span 3;
  }
  .specials__bgr {
    display: none;
  }

  .rating {
    &__item:nth-last-of-type(1),
    &__item:nth-last-of-type(2)  {
      display: none;
    }
  }

  .banner {
    &__wrapper {
      padding-top: 151px;
      padding-bottom: 148px;
      background-image: url('../img/banner-1024.jpg');
    }
  }

  .popular__title {
    letter-spacing: 1px;
  }
  .popular2,
  .popular3,
  .popular4,
  .popular5 {
    grid-column: span 3;
  }
  .popular2 {
    grid-row-start: 2;
    grid-column-start: 4;
    grid-column-end: 7;
  }
  .popular3 .card__picture {
    margin: 0 -30px 0 -30px;
  }
  .popular__list .card {
    min-height: 511px;
  }

  .useful {
    &__picture {
      margin: 0;
    }
    &__wrapper {
      padding: 30px 25px 23px 30px;
    }
    &__descr {
      font-weight: 400;
      font-size: 16px;
    }
    &__item {
      grid-column: span 3;
      min-height: 456px;
    }
  }
  .useful3 {
    display: block;
  }

  .welcome {
    padding-bottom: 69px;
    &__left {
      grid-column: span 4;
    }
    &__right {
      grid-column: span 5;
    }
    &__descr {
      max-width: 400px;
    }
    &__form {
      grid-column: span 4;
    }
    &__btn {
      padding: 17px 33px 15px;
    }
    &__wrapper .custom-checkbox {
      gap: 10px;
      &__icon {
        width: 14px;
        height: 14px;
      }
      &__text {
        font-size: 14px;
        letter-spacing: .5px;
      }
    }
  }

  .footer__right {
    align-items: flex-start;
    gap: 86px;
  }

  // catalog
  .catalog-page {
    .catalog {
      position: relative;
      &__title {
        padding-bottom: 174px;
      }
      &__bottom {
        display: none;
      }
      &__left {
        position: absolute;
        top: 58px;
        grid-column: span 9;
      }
      &__img {
        margin-top: auto;
      }
      &__about {
        gap: 22px;
      }
      &__filters {
        display: flex;
        gap: 46px;
      }
      &__filters-title {
        display: none;
      }
      .filters__item {
        margin: 0;
      }
      .filters__item:nth-of-type(2) {
        margin-right: 28px;
      }

    }
    .footer__right {
      gap: 110px;
    }
    .custom-checkbox__text {
      letter-spacing: 1.3px;
    }
  }

  // product
  .product-page {
    &__top {
      padding-bottom: 67px;
    }
    &__item:last-of-type {
      display: none;
    }
  }
  .product-card {
    gap: 79px;
    &__top {
      padding: 0;
    }
    &__picture {
      grid-column: span 5;
    }
    &__text {
      grid-column: span 4;
      padding-top: 27px;
    }

    &__description {
      grid-column: span 5;
      background-image: url('../img/product-page1-1024.svg');
      background-size: 514px 110px;
    }
    &__description-right {
      grid-column: span 4;
      grid-template-columns: repeat(4, 1fr);
      gap: 0;
    }
    &__specs1,
    &__specs2 {
      grid-column: span 2;
    }
  }

  // Collaboration

}

@media (max-width: 996px) {    // for 768px
  :root {
    --container-offset: 72px;
  }
  .container {
    padding: 0 var(--container-offset);
    max-width: calc(var(--container-width) + (var(--container-offset) * 2));
  }
  .grid {
    grid-template-columns: repeat(6, 1fr);
  }
  .header {
    &__phone {
      top: 18px;
      left: var(--container-offset);
    }
    &__top-list {
      width: 100%;
      gap: 0;
      justify-content: space-between;
    }
    &__top-content {
      padding: 18px var(--container-offset);
    }
    &__middle {
      flex-direction: column;
      align-items: normal;
      padding-top: 34px;
      padding-bottom: 35px;
    }
    &__nav-list {
      gap: 0;
      justify-content: space-between;
    }
    &__link {
      font-size: 14px;
    }
    &__btn-group {
      top: 138px;
    }
    &__search-row {
      width: 100%;
    }
  }
  .cite-logo {
    margin-bottom: 34px;
  }
  .search-btn {
    right: 32px;
  }

  // index
  .index-page {
    .hero__wrapper {
      padding-top: 80px;
      padding-bottom: 80px;
      background-image: url('../img/hero-768.jpg');
    }

    .specials {
      &__item:nth-of-type(3) {
        display: none;
      }
    }
    .specials .card__about {
      gap: 24px;
    }
    .rating .card__about {
      gap: 22px;
    }
    .banner {
      &__wrapper {
        background-image: url('../img/banner-768.jpg');
      }
      &__container {
        padding-left: 36px;
      }
    }

    .useful {
      padding-bottom: 70px;
      &__wrapper {
        padding: 30px;
      }
      &__descr {
        line-height: 131%;
      }
      &__item:nth-of-type(3) {
        display: none;
      }
    }

    .welcome {
      &__left {
        grid-column: span 4;
      }
      &__right {
        grid-column: span 2;
      }
    }

  }

  // Catalog-page
  .catalog-page {
    .catalog {
      &__products {
        grid-template-columns: repeat(6, 1fr);
        grid-auto-flow: dense;
      }
      &__right {
        grid-column: span 6;
      }
      &__item {
        grid-column: span 3;
      }
      &__item:nth-of-type(3) {
        grid-column-start: 4;
        grid-column-end: 7;
      }
      &__item:nth-last-of-type(1) {
        display: none;
      }
      &__item:nth-last-of-type(2) {
        display: none;
      }
      &__item:nth-last-of-type(3) {
        display: none;
      }
      &__pagination {
        right: 40%;
      }
      &__btn:last-of-type {
        display: block;
      }
    }
  }

  // Product-page
  .product-page {
    &__top {
      padding-bottom: 31px;
    }
    &__item:nth-last-child(2) {
      display: none;
    }
  }
  .product-card {
    &__picture {
      grid-column: span 6;
    }
    &__text {
      grid-column: span 6;
      padding-top: 76px;
    }
    &__topic {
      top: 51px;
    }
    &__description {
      padding-bottom: 142px;
    }
    &__description-right {
      grid-column: span 6;
      grid-template-columns: repeat(6, 1fr);
    }
    &__specs1 {
      grid-column: span 4;
    }
    &__specs2 {
      grid-column: span 2;
    }
  }

  // Collaboration
  .collaboration-page {
    .collaboration {
      &__item {
        grid-column: span 6;
      }
      &__item-descr {
        letter-spacing: .4px;
      }
      &__gifts {
        gap: 13px;
      }
      &__clause {
        letter-spacing: .3px;
      }
    }
  }

  .footer {
    &__container {
      flex-direction: column;
    }
    &__right {
      gap: 0;
      justify-content: space-between;
    }
    &__left {
      flex-direction: row;
      padding-bottom: 19px;
    }
    &__socials {
      margin-right: 50px;
    }
  }
  .footer .cite-logo {
    margin: 0;
  }
}

@media (max-width: 685px) {           // for 560px
  :root {
    --container-offset: 12px;
  }
  .container {
    padding: 0 var(--container-offset);
    max-width: calc(var(--container-width) + (var(--container-offset) * 2));
  }

  .header {
    padding-top: 0;
    padding-bottom: 26px;
    overflow: hidden;
    &__top-list {
      display: none;
    }
    &__phone {
      top: 80px;
      left: var(--container-offset);
    }
    &__logo {
      position: absolute;
      top: 12px;
      left: 50%;
      transform: translateX(-50%);
    }
    &__top-content {
      padding: 25px var(--container-offset);
    }
    &__middle {
      margin: 16px -12px;
      padding: 25px 0;
      border-top: 1px solid var(--color-f6f6f6);
      border-bottom: 1px solid var(--color-f6f6f6);
    }
    &__nav {
      position: absolute;
      left: 12px;
      bottom: 100px;
    }
    &__nav-item:not(:last-of-type) {
      margin-right: 23px;
    }
    &__bottom {
      padding-top: 33px;
    }
    &__link {
      white-space: nowrap;
    }
    &__btn-group {
      top: 75px;
    }
    &__crumps {
      display: none;
    }
  }
  .search-btn {
    right: 32px;
  }

  // Index-page
  .index-page {
    .hero {
      position: relative;
      padding-bottom: 90px;
      &__content {
        max-width: 100%;
      }
      &__title {
        text-align: center;
        font-size: 30px;
      }
      &__btn {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .banner {
      &__title {
        max-width: 420px;
      }
      &__title-part1 {
        font-size: 45px;
      }
      &__title-part2 {
        font-size: 35px;
      }
    }
  }

  //Catalog-page
  .catalog-page {
    .catalog {
      &__filters {
        flex-wrap: wrap;
        // gap: 16px;
      }
      &__title {
        padding-bottom: 280px;
      }
    }
  }

  //Product-page
  .product-card {
    &__description {
      background-size: 440px 110px;
    }
    &__specs1,
    &__specs2 {
      grid-column: span 3;
    }
  }

  // Collaboration


  .footer {
    &__left {
      flex-direction: column;
      align-items: center;
      gap: 24px;
      padding-bottom: 20px;
    }
    &__right {
      gap: 24px;
      flex-wrap: wrap;
    }
    &__right-item {
      width: calc((100% - 24px) / 2);
    }
    &__socials {
      margin: 0;
    }

  }
}

@media (max-width: 560px) {     //  for 320px
  .grid {
    gap: 16px;
  }

  // Index-page
  .index-page {
    .text-xl {
      font-size: 24px;
    }
    .hero {
      &__wrapper {
        padding-top: 32px;
        padding-left: 18px;
      }
      &__title {
        max-width: 225px;
        text-align: initial;
        font-size: 20px;
        letter-spacing: 1px;
      }
      &__btn {
        width: 92%;
      }
    }

    .specials {
      &__list {
        gap: 24px;
      }
      &__item {
        grid-column: span 6;
        display: flex;
      }
      &__item:nth-of-type(3) {
        display: flex;
      }
    }

    .rating {
      padding-bottom: 69px;
      &__list {
        gap: 16px;
      }
      &__item {
        min-height: 278px;
        padding: 16px 8px;
      }
      &__about {
        padding: 0 8px;
      }
      &__name {
        font-size: 16px;
      }
      &__btn {
        padding: 10px 24px;
      }
    }
    .rating .card {
      &__star {
        padding: 3px 3px 3px 20px;
        background-size: 13px 13px;
        top: 10px;
        left: 16px;
      }
      &__star span {
        font-size: 12px;
      }
      &__about {
        gap: 16px;
      }
    }

    .banner {
      position: relative;
      padding-bottom: 164px;
      &__wrapper {
        padding-top: 30px;
        padding-bottom: 110px;
        background-image: url('../img/banner-320.jpg');
      }
      &__container {
        padding: 0 12px;
      }
      &__title {
        max-width: 200px;
        margin: 0;
        line-height: 0;
      }
      &__title-part1 {
        font-size: 24px;
      }
      &__title-part2 {
        font-size: 16px;
        letter-spacing: .6px;
      }
      &__btn {
        position: absolute;
        width: 92%;
        left: 50%;
        bottom: 71px;
        padding: 19px 30px;
        transform: translateX(-50%);
      }
    }
    .popular {
      &__list {
        column-gap: 16px;
      }
      &__list .card {
        &__inner-link {
          display: inline-block;
        }
      }
      &__list .popular1 {
        min-height: 332px;
        padding: 30px 27px;
      }
      &__list .popular1 .card__inner-list {
        flex-direction: row;
        gap: 15px;
        margin-bottom: 16px;
      }
      &__list .popular1 .text-xs {
        font-size: 14px;
      }
      &__list .popular1 .text-l {
        font-size: 24px;
      }
      &__list .popular1 .popular__picture {
        padding-left: -27px;
      }
      &__list .popular1 .popular__picture {
        margin-left: -27px;
      }
      &__item {
        min-height: 206px;
        padding: 16px;
        gap: 9px;
      }
      &__picture {
        margin-left: -16px;
      }
      &__inner-list {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        margin-bottom: 8px;
      }
      &__inner-item .text-xs {
        font-size: 10px;
      }
      &__subtitle {
        font-size: 16px;
        line-height: 110%;
        letter-spacing: .3px;
      }
      &__link {
        display: none;
      }
      &__link span {
        display: none;
      }

    }

    .useful {
      &__list {
        row-gap: 23px;
      }
      &__item {
        grid-column: span 6;
      }
      &__item:nth-of-type(3) {
        display: flex;
      }
      &__wrapper {
        padding-bottom: 28px;
      }
      &__descr {
        line-height: 137%;
      }
      &__btn {
        padding: 16px 36px 16px 33px;
      }
    }
    .useful4,
    .useful5 {
      display: flex;
    }

    .welcome {
      display: block;
      &__left {
        grid-column: span 6;
      }
      &__right {
        display: none;
      }
      &__wrapper .custom-checkbox {
        gap: 6px;
      }
      &__wrapper .custom-checkbox__text {
        letter-spacing: -.7px;
      }
      &__link {
        letter-spacing: -.7px;
      }
    }
  }

  // Catalog-page
  .catalog-page {
    .catalog {
      &__left {
        top: 52px;
      }
      &__filters {
        gap: 16px;
      }
      &__title {
        padding-bottom: 246px;
      }
      &__products {
        gap: 16px;
      }
      &__item {
        min-height: 278px;
        padding: 16px;
      }
      &__item:nth-of-type(3) {
        grid-column-start: 1;
        grid-column-end: 4;
      }
      &__about {
        gap: 15px;
        padding: 0;
      }
      &__topic {
        top: 13px;
        left: 13px;
      }
      &__topic svg {
        width: 13px;
      }
      &__topic span {
        font-size: 12px;
      }
      &__name {
        font-size: 16px;
      }
      &__item-btn {
        padding: 10px 24px;
      }
      &__pagination {
        right: 29%;
      }
    }
  }

  //Product-page
  .product-page {
    &__list {
      gap: 16px;
    }
    &__item {
      min-height: 278px;
      padding: 30px 16px 13px 17px;
    }
    &__item .catalog__topic {
      display: inline-flex;
      align-items: center;
      top: 16px;
      left: 16px;
    }
    &__item .catalog__topic svg {
      width: 13px;
    }
    &__item .catalog__topic span {
      font-size: 12px;
    }
    &__img {
      margin-top: auto;
    }
    &__about {
      gap: 16px;
      margin-top: auto;
      padding: 0;
    }
    &__name {
      font-size: 16px;
    }
    &__btn {
      padding: 10px 24px;
    }
  }

  .product-card {
    gap: 31px;
    &__text {
      padding-top: 41px;
    }
    &__topic {
      top: 16px;
    }
    &__title {
      margin-bottom: 5px;
      font-size: 16px;
    }
    &__descr {
      margin-bottom: 18px;
    }
    &__price {
      font-size: 24px;
      margin-bottom: 15px;
    }
    &__btn-wrapper {
      align-items: stretch;
    }

    &__bottom {
      row-gap: 26px;
    }
    &__description {
      grid-column: span 6;
      padding-bottom: 95px;
      background-size: 296px 64px;
    }
    &__left,
    &__right {
      font-size: 10px;
    }
  }

  // Collaboration
  .page3 {
    .header {
      padding-bottom: 35px;
      &__nav {
        bottom: 110px;
      }
    }
    .collaboration-page {
      .collaboration {
        &__title {
          margin-bottom: 32px;
          font-size: 24px;
        }
        &__item {
          gap: 10px;
        }
        &__item-title {
          font-size: 16px;
          letter-spacing: -.5px;
        }
        &__item-descr {
          line-height: 157%;
          letter-spacing: -.6px;
        }
        &__gifts-descr {
          line-height: 134%;
        }
        &__guaranty-title {
          margin-bottom: 2px;
        }
        &__clause {
          line-height: 156%;
          letter-spacing: -.6px;
        }
        &__warranty {
          padding: 0;
          padding-left: 52px;
          background-image: url('../img/warranty-320.svg');
          background-size: 36px 54px;
        }
        &__warranty-text {
          font-size: 16px;
        }
      }
    }
  }

  .footer {
    &__right-item-link {
      letter-spacing: 0;
    }
  }
}
