
:root {
  --font-family: 'Roboto', sans-serif;
  --second-family: 'PlayfairDisplay';

  --cite-gap: 32px;

  --container-offset: 15px;
  --container-width: 1280px;

  --color-999: #999;
  --color-666: #666;
  --color-eaeaea: #eaeaea;
  --color-f6f6f6: #f6f6f6;
  --color-fff: #fff;
  --color-f8efff: #f8efff;
  --color-333: #333;
  --color-fff5d1: #fff5d1;
  --color-ffbd59: #ffbd59;
  --color-d5b986: #d5b986;
  --color-ff862f: #ff862f;
  --color-bb370e: #bb370e;
  --color-ebd1ff: #ebd1ff;
  --color-c998fb: #c998fb;
  --color-a65cf0: #a65cf0;
  --color-7033ac: #7033ac;

}
