
html {
  box-sizing: border-box;
}

*,
* ::before,
*::after {
  box-sizing: inherit;
  font-size: 0;
  margin: 0;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
}

.container {
  width: 240px;
  margin: 0 auto;
}

.baner__front,
.baner__back {
  border: 1px solid #000;
}

.baner__top {
  padding: 24px;
}

.baner__title span {
  display: inline-block;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  color: #8654CC;
}

.baner__bottom {
  padding: 19px 24px 24px 24px;
  border-radius: 16px 16px 0 0;
  background-color: #EDCFFC;
}

.baner__bonuses {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 140px;
  background-image: url('../img/КВ.png');
  background-repeat: no-repeat;
  background-position: bottom center;
}

.baner__descr {
  font-weight: 500;
  font-size: 19px;
  line-height: 21px;
  letter-spacing: 0em;
  margin-bottom: 13px;
  color: #8654CC;
}

.baner__percent {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0em;
  margin-bottom: 7.3px;
  padding: 6px 9.5px;
  border-radius: 23.3px;
  color: #FFE3C7;
  background-color: #8654CC;
}

.baner__rubbonus {
  font-weight: 400;
  font-size: 11px;
  line-height: 10px;
  letter-spacing: 0em;
  margin-bottom: 7.3px;
  padding-right: 8.2px;
  border-radius: 20px;
  color: #8654CC;
  background-color: #fff;
}

.baner__sum {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.02em;
  padding: 7px 8.2px;
  border-radius: 20px;
  color: #8654CC;
  background-color: #FEF351;
}

.baner__cashback {
  font-weight: 400;
  font-size: 11px;
  line-height: 10px;
  letter-spacing: 0em;
  margin-bottom: 7.3px;
  padding-right: 8.2px;
  border-radius: 20px;
  color: #8654CC;
  background-color: #fff;
}

.baner__cashbackplus {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.02em;
  padding: 7px 8.2px;
  border-radius: 20px;
  color: #8654CC;
  background-color: #22D726;
}

.baner__copy {
  font-weight: 500;
  font-size: 11px;
  line-height: 9px;
  letter-spacing: 0.01em;
  color: #B69BDB;
}
