html{
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  outline: none;
}

img {
  max-width: 100%;
}

:root {
  --color-8654cc: #8654cc;
  --color-fff: #fff;
  --color-edcffc: #edcffc;
  --color-ffe3c7: #ffe3c7;
  --color-fef351: #fef351;
  --color-22d726: #22d726;
  --color-aeaeae: #aeaeae;
  --color-b69bdb: #b69bdb;
}

@font-face {
  font-family: "golos";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./golos-font/GolosText-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "golos";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./golos-font/GolosText-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "golos";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./golos-font/GolosText-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "sofia-sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./golos-font/SofiaSansExtraCondensed-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "sofia-sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./golos-font/SofiaSansExtraCondensed-Medium.woff2") format("woff2");
}

body {
  position: relative;
  font-family: 'golos', 'sofia-sans', sans-serif;
  min-width: 300px;
  margin: 0;
  padding: 0;
  outline: none;
}

.banner {
  position: relative;
  max-height: 250px;
  margin-bottom: 50px;
  border: 1px solid var(--color-aeaeae);
  animation: bannerShow 2s linear;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

.top {
  padding-top: 14px;
  padding-bottom: 15px;
}

.top__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top__logo {
  font-size: 0;
}

.top__link {
  font-weight: 400;
  font-size: 7px;
  line-height: 109%;
  color: var(--color-8654cc);
  text-decoration: none;
}

.bottom {
  height: 204px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 25px 25px 0 0;
  background-color: var(--color-edcffc);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 174px;
}

.bgr {
  background-image: url("./img/bgr-300.png");
}

.bottom__title {
  max-width: 150px;
  font-weight: 500;
  font-size: 16px;
  line-height: 115%;
  letter-spacing: .1px;
  margin-bottom: 43.5px;
  color: var(--color-8654cc);
}

.bonuses {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.bonuses__percent {
  font-weight: 500;
  font-size: 11px;
  padding: 2px 8px 2.5px 8px;
  border-radius: 19px;
  color: var(--color-ffe3c7);
  background-color: var(--color-8654cc);
  animation: bonusesPercent 2s linear;
}

.bonuses__plus1,
.bonuses__plus2 {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 8px;
  border-radius: 18px;
  padding-right: 8px;
  color: var(--color-8654cc);
  background-color: var(--color-fff);
  animation: bonusesPlus 2s linear;
}

.bonuses__plus2 {
  padding-right: 7px;
}

.bonuses__sum {
  display: inline-block;
  font-weight: 700;
  font-size: 9px;
  margin-right: 3px;
  padding: 3px 6px;
  border-radius: 15px;
  background-color: var(--color-fef351);
}

.bonuses__cashback {
  display: inline-block;
  font-weight: 700;
  font-size: 9px;
  padding: 3px 7px 3px 6px;
  margin-right: 3px;
  border-radius: 15px;
  color: var(--color-fff);
  background-color: var(--color-22d726);
}

.img {
  position: absolute;
  display: none;
}

/* DESCRIPTOR_style*/
.descriptor {
  position: absolute;
  top: 0;
  left: 0;
}

.descriptor_top {
  padding-top: 14px;
  padding-bottom: 14px;
}
.bottom__descriptor {
  padding-top: 8px;
  padding-bottom: 6px;
  border-radius: 16px 16px 0 0;
  background-color: var(--color-edcffc);
}

.bottom__descr {
  font-family: 'sofia-sans';
  font-weight: 400;
  font-size: 9px;
  line-height: 100%;
  letter-spacing: .45px;
  text-transform: uppercase;
  color: var(--color-b69bdb);
}


/* ANIMATION */
.animate {
  opacity: 0;
  transition: opacity 1.5s ease; /* Длительность анимации и тип анимации */
}

.visible {
  opacity: 1;
}




