
@media (max-width: 1024px) {
  .hero__wrapper {
    max-width: 70%;
  }

  .form__input {
    width: 100%;
  }

  .form__select {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .header__nav {
    display: none;
  }

  .burger {
    display: block;
    position: relative;
    border-radius: 3px;
    border: 1px solid currentColor;
    width: 40px;
    height: 40px;
    color: #3172B9;
  }

  .burger__line {
    position: absolute;
    left: 50%;
    width: 20px;
    height: 2px;
    border-radius: inherit;
    background-color: currentColor;
    transform: translateX(-50%);
  }

  .burger__line:nth-child(1) {
    top: 13px;
  }

  .burger__line:nth-child(2) {
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .burger__line:nth-child(3) {
    bottom: 13px;
  }

  .header__btn {
    margin-right: 7px;
  }

  .hero__wrapper {
    max-width: 70%;
  }

  .services__list {
    --offsets: 1;
  }

  .articles__list {
    --offsets: 0;
  }

  .clients__list {
    --offsets: 0;
  }

  .footer__container {
    flex-direction: column;
    gap: 20px;
  }

  .footer__left {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .hero__wrapper {
    max-width: 100%;
  }

  .hero {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .section  {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .services__descr {
    margin-bottom: 30px;
  }

  .services__link {
    padding: 15px;
    padding-bottom: 36px;
  }

  .address__list {
    --offsets: 0;
  }

  .form__wrapper {
    flex-direction: column;
    gap: 15px;
  }

  .form__left {
    gap: 15px;
    width: 100%;
  }

  .form__right {
    width: 100%;
  }

  .footer__container {
    position: relative;
    flex-direction: column-reverse;
    align-items: flex-start;
  }


  .footer__wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .footer__list {
    margin: 0;
    gap: 15px 30px;
  }

  .footer__left {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid var(--grey);
    padding-bottom: 30px;
  }

  .footer__logo {
    margin: 0;
  }

  .footer__text {
    width: 100%;
    position: absolute;
    bottom: -30px;
  }

  .footer__copy {
    display: block;
    text-align: center;
  }
}

@media (max-width: 568px) {
  .header {
    padding-top: 16px;
    padding-bottom: 13px;
    padding-left: 1px;
  }

  .header__logo {
    width: 80px;
  }

  .header__btn {
    padding: 13px 20px;
  }

  .hero {
    padding-top: 31px;
    padding-bottom: 31px;
  }

  .hero__title {
    margin-bottom: 15px;
  }

  .hero__descr {
    margin-bottom: 15px;
  }

  .hero__btn {
    padding: 22px 78px;
    margin-bottom: 14px;
  }

  .section {
    padding-top: 30px;
    padding-bottom: 60px;
  }

  .services__title {
    line-height: 130%;
    margin-bottom: 15px;
    text-align: start;
  }

  .services__descr {
    line-height: normal;
    letter-spacing: 0.1px;
    margin-bottom: 15px;
    text-align: start;
  }

  .services__list {
    gap: 20px 15px;
  }

  .services__item {
    width: calc((100% - (16px * var(--offsets))) / (var(--offsets) + 1));
    max-height: 222px
  }

  .services__link svg {
    height: 42px;
    margin-bottom: 15px;
  }

  .services__subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 3px;
  }

  .services__subdescr {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
  }

  .articles {
    padding-top: 60px;
    padding-bottom: 59px;
  }

  .articles__list {
    gap: 15px;
  }

  .articles__title {
    margin-bottom: 15px;
  }

  .blog__img {
    width: 86px;
    height: 191px;
    margin-right: 15px;
  }

  .blog__text {
    max-width: 180px;
  }

  .blog__time  {
    display: inline-block;
    margin-bottom: 4px;
  }

  .blog__title {
    margin-bottom: 2px;
  }

  .clients {
    padding-top: 61px;
    padding-bottom: 62px;
  }

  .clients__list {
    gap: 17px;
  }

  .clients__title {
    margin-bottom: 16px;
  }

  .clients__data {
    padding: 19px 20px 16px;
  }

  .clients__descr {
    margin-bottom: 29px;
  }

  .clients__user {
    padding-top: 30px;
  }

  .clients__avatar {
    margin-right: 13px;
  }

  .clients__name {
    line-height: 100%;
  }

  .contacts {
    padding-top: 62px;
    padding-bottom: 62px;
  }

  .contacts__title {
    margin-bottom: 15px;
  }

  .address__title {
    padding-top: 40px;
    margin-bottom: 8px;
  }

  .joinUs {
    padding-top: 61px;
    padding-bottom: 61px;
  }

  .joinUs__title {
    text-align: start;
    margin-bottom: 15px;
  }

  .joinUs__descr {
    width: 100%;
    margin-bottom: 14px;
    text-align: start;
    letter-spacing: .1px;
    line-height: 137%;
  }

  .joinUs__form {
    padding: 0;
  }

  .form__wrapper {
    margin-bottom: 15px;
  }

  .form__input {
    padding-left: 20px;
  }

  .form__select {
    padding-left: 15px;
  }

  .form__textarea {
    height: 240px;
    padding: 11px 19px;
  }

  .submit-wrapper {
    width: 100%;
  }

  .submit__btn {
    padding: 23px 95px;
    margin-bottom: 16px;
  }

  .submit__text {
    padding-left: 22px;
  }

  .footer {
    position: relative;
    padding-top: 32px;
    padding-bottom: 45px;
  }

  .footer__wrapper {
    gap: 31px;
  }

  .footer__logo {
    width: 80px;
  }

  .footer__container {
    gap: 27px;
  }

  .footer__list {
    flex-wrap: wrap;
    gap: 15px 30px;
    margin: 0;
  }

  .footer__text {
    left: 0;
    bottom: -28px;
  }

  .footer__text::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    top: -18px;
    left: -15px;
    background-color: #c4c4c4;
  }

  .footer__left {
    border-bottom: none;
  }

}
