
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  min-width: 320px;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 35px;
}

.todo__nav {
  padding-top: 10px;;
}

.todo__link {
  text-decoration: none;
  padding: 5px 10px;
}

.todo__title {
  text-align: center;
  margin-bottom: 30px;
}

.todo__form {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  margin-bottom: 30px;
}

.todo__input {
  flex: 1 1 auto;
  width: 1%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.todo__btn {
  display: inline-block;
  font-weight: 400;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.todo__btn:disabled {
  opacity: .5;
}

.todo__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.todo__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ced4da;
  padding: 5px;
}

.todo__itemwrapper {
  display: flex;
  gap: 5px;
}

.todo__donebtn {
  padding: 3px 5px;
  color: #fff;
  background-color: #28a745;
  border:1px solid #28a745;
  cursor: pointer;
}

.todo__deletebtn {
  padding: 3px 5px;
  color: #fff;
  background-color: #dc3545;
  border: 1px solid #dc3545;
  cursor: pointer;
}

.case-done {
  color: #155724;
  background-color: #c3e6cb;
}
