
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  min-width: 320px;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 30px;
}

.todo__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.done-item {
  background-color: #44f561;
}

