
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  min-width: 320px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: bisque;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
}


